@font-face {
    font-family: 'Karla';
    src: url('./assets/karla-font/Karla-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

html {
    color: white;
    font-family: Karla, sans-serif;
    background-image: linear-gradient(180deg, rgb(26,26,26), rgb(94,94,94));
    box-sizing: border-box;
}

body {
    margin: 0px auto;
    height: 100%;
    width: 100%;
}

/* 
===========================================================================
                                TOP BAR
===========================================================================
*/

.top-bar {
    display: grid;
    width: 75%;
    height: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    border: 1px solid transparent;
    border-radius: 72px;
}

.top-bar-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50%;
}

.top-bar-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-image: none;
}

/* 
===========================================================================
                        PROFILE PICTURE, USERNAME, BIO
===========================================================================
*/

.profile-picture {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    max-width: 680px;
    
}

.username {
    margin: 0px;
    margin-bottom: 4px;
    padding: 0;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
}

.bio { 
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

/* 
===========================================================================
                            MAIN CONTENT, LINKS
===========================================================================
*/

.link-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    margin-bottom: 16px;
    border: 2px solid rgb(255, 95, 0);
    background-color: rgb(255, 95, 0);
    color: rgb(25, 25, 25);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px 0px;
    transition: transform .2s;
    max-width: 680px;  

    overflow: visible;
    white-space: nowrap;
}

.link-containers:hover {
    transform: scale(1.020);
    opacity: 1;
}

/* https://stackoverflow.com/questions/40572361/flexbox-align-items-horizontally */
.link-containers a {
    display: flex;
    justify-self: center;
    text-decoration: none;
    color: rgb(25, 25, 25);
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.link-containers p {
    display: flex;
    text-align: center;
    margin: 0;
    margin-right: auto;
    line-height: 1.5;

    overflow: visible;
    white-space: nowrap;
}

.link-containers button{
    display: flex;
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    cursor: pointer;
    background-image: none;
    justify-content: center;
    align-items: center;

    overflow: visible;
    white-space: nowrap;
}

.link-containers button:hover{
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    background: linear-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 0.1)
    );
}

/* 
===========================================================================
                            SOCIALS LINKS AND SVGs
===========================================================================
*/

.socials {
    margin: auto;
    margin-top: 24px;
    display: flex; 
    justify-content: center;
    transition: transform .2s;
    max-width: 680px;
}

.socials img {
    padding-left: 8px;
    padding-right: 8px;
}

.socials img:hover{
    transform: scale(1.075);
}

/* 
===========================================================================
                                FOOTER BAR
===========================================================================
*/

.footer-svg {
    margin: auto;
    display: block;
    height: 20px;
    width: 100%;
    filter: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
}

.cookie{
    display: flex;
    justify-content: flex-start;
    height: auto;
    bottom: 16px;
    padding-left: 20px;
    width: 100%;
}

.cookie button {
    font-size: 9px;
    font-weight: 700;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    display: block;
    margin-top: 0;
    padding: 0;
    color: rgb(255, 255, 255, 0.6);
    border: none;
    background: none;
    text-align: center;
}

.cookie button:hover{
    color: white;
}